{% extends 'base_generic.html' %}
{% load static %}
{% load i18n %}

{% block showcase %}
<section class="product-showcase">
    <div id="product-detail-showcase-image">
        {% if product.category.image %}
        <img src="{{product.category.image.url}}" alt="">
        {% endif %}
    </div>
</section>
{% endblock showcase %}


{% block content %}

<p class="toggle-nav">
    <a href="#">{{product.vendor}}<sup>&reg;</sup> <span>/</span></a> 
    <a href="#"> {{product.category}} <span>/</span> </a>
    <a class="active-h" href="#"> {{product.model}}</a>
</p>
<hr>
<h1 class="product-detail-h1">{{product.model}}</h1>
<hr>
<div class="product-detail-info">
    <div class="product-detail">
        <div class="product-instance-photo">
            <div class="photo-display">
                <img src="{{product.image.url}}" alt="product name">
            </div>
            <div class="product-inst-images">
                <div class="product-instance-photos">
                    <img class="prod-inst-img1" src="{{product.image.url}}" alt="product name">
                </div>
                <div class="product-instance-photos">
                    {% if product.image2 %}
                    <img class="prod-inst-img2"
                        src="{{product.image2.url}}" alt="product name">
                    {% endif %}
                </div>
                <div class="product-instance-photos">
                    {% if product.image3 %}
                    <img class="prod-inst-img3" src="{{product.image3.url}}"
                        alt="product name">
                    {% endif %}
                </div>
            </div>
    
            <hr>
            <div class="share">
    
                <img src="{% static 'images/gmail_96px.png' %}" alt="email">
                <img src="{% static 'images/whatsapp_96px.png' %}" alt="whatsapp">
                <img src="{% static 'images/facebook_logo_96px.png' %}" alt="facebook">
                <img src="{% static 'images/twitter_96px.png' %}" alt="twitter">
                <img src="{% static 'images/linkedin_96px.png' %}" alt="linkedin">
    
            </div>
            <hr>
    
        </div>
        <div class="product-detail-aside">
            <div class="price">
                <p>Price:</p>
                $<p class="disc-price">{{product.discount_price}}</p>
                
                <hr>
            </div>
            <div class="status">
                <div class="available"></div>
                <p>{% trans "On stock, ready for delivery on the next business day" %}</p>
            </div>
            <p class="amount-stock">Amount in stock: {{num_instances_available}}</p>
            <hr>
            <div class="amount">
                <h3>Amount</h3>
                <p>Quantity</p>
                <form method="POST" action="" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <table>
                        {{addtocart_form.as_table}}
                    </table>
                    <input class="add-to-cart-btn" type="submit" value="Add to cart">
                </form>
                <p>All prices incl. VAT.</p>
            </div>
            <hr>
    
        </div>
    </div>
    <div class="productinstance-description">
        <h2>Description</h2>
        <p>{{product.description}}</p>
    </div>
    
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/app.js' %}"></script>
<!-- <script src="{% static 'js/hamburger.js' %}"></script> -->
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock scripts %}