{% extends 'base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

<p class="toggle-nav">
    <a href="#">{{product.vendor}}<sup>&reg;</sup> <span>/</span></a> 
    <a href="#"> {{product.category}} <span>/</span> </a>
    <a class="active-h" href="#"> {{product.model}}</a>
</p>
<hr>
<h1 class="product-detail-h1">{{product.model}}</h1>
<hr>
<div class="product-detail-info">
    <div class="product-detail">
        <div class="product-instance-photo">
            <div class="photo-display">
                <img src="{{product.image.url}}" alt="product name">
            </div>
            <div class="product-inst-images">
                <div class="product-instance-photos">
                    <img class="prod-inst-img1" src="{{product.image.url}}" alt="product name">
                </div>
                <div class="product-instance-photos">
                    <img class="prod-inst-img2"
                        src="{% static 'images/most_desired_by_david_dennis_d9j3dpi-fullview.jpg' %}" alt="product name">
                </div>
                <div class="product-instance-photos">
                    <img class="prod-inst-img3" src="{% static 'images/d89kaou-f9a14e37-3f1e-47d4-a183-44c52921d8dc.jpg' %}"
                        alt="product name">
                </div>
            </div>
    
            <hr>
            <div class="share">
    
                <img src="{% static 'images/gmail_96px.png' %}" alt="email">
                <img src="{% static 'images/whatsapp_96px.png' %}" alt="whatsapp">
                <img src="{% static 'images/facebook_logo_96px.png' %}" alt="facebook">
                <img src="{% static 'images/twitter_96px.png' %}" alt="twitter">
                <img src="{% static 'images/linkedin_96px.png' %}" alt="linkedin">
    
            </div>
            <hr>
    
        </div>
        <div class="product-detail-aside">
            <div class="price">
                <p>Price:</p>
                ₦<p class="disc-price">{{product.discount_price}}</p>
                
                <hr>
            </div>
            <div class="status">
                <div class="available"></div>
                <p>On stock, ready for delivery on the next business day </p>
            </div>
            <p class="amount-stock">Amount in stock: {{product.productinstance_set.all.count}}</p>
            <hr>
            <div class="amount">
                <h3>Amount</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <!-- <div class="addtocart_quantity"> -->
                    <input type="number" name="quantity" id="amount" value="1">
                        <!-- {{ form.quantity }} -->
                    <!-- </div> -->
                    <!-- <input type="submit" value="Submit"> -->
                    <button><img src="{% static 'images/shopping_cart_48px.png' %}" alt="">Add to cart</button>
                </form>

                <!-- <input type="number" name="amount" id="amount" value="1">
                <button type="submit"><img src="{% static 'images/shopping_cart_48px.png' %}" alt=""> Add to cart</button> -->
                <p>All prices incl. VAT.</p>
            </div>
            <hr>
            <div class="product-manu-info">
                <div class="vendor-logo">
    
                    <p>LIGHT MY <br> <span>BRICKS</span></p>
                </div>
                <div class="product-info-table">
                    <table>
                        <tbody>
                            <tr>
                                <th>Article number:</th>
                                <td>189513</td>
                            </tr>
                            <tr>
                                <th>Manufacturer:</th>
                                <td>LIGHT MY BRICKS</td>
                            </tr>
                            <tr>
                                <th>Manufacturer Part No:</th>
                                <td>vespa125-10298</td>
                            </tr>
                            <tr>
                                <th>EAN</th>
                                <td>744109767937</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
        </div>
    </div>
    <div class="productinstance-description">
        <h2>Description</h2>
        <p>Take a trip through the cobble streets of Tuscany on the
            LEGO Vespa 125 10298!
        <h3>What's in the box</h3>
        <ul>
            <li>7x Assorted Bit Lights</li>
            <li>2x Assorted Expansion Boards</li>
            <li>1x Connecting Cable</li>
            <li>2x Assorted Bricks</li>
            <li>1x USB Power Cable (power source not include)</li>
        </ul>
        </p>
    </div>
    <!-- Product Review -->
    <div class="col-md-8 card mb-4 mt-3">
        <div class="card">
            <h2>{{comments.count}} comments</h2>
            <h3>Leave a comment</h3>
        </div>
    </div>
    <div class="card-body">
        {% if comment %}
        <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
        </div>
        {% else %}
        <form class="forms" method="post">
            {% csrf_token %}
            {{comment_form.name}}
            <div class="text-button">
                {{comment_form.body}}
                <button type="submit" class="btn" ><img src="{% static 'images/paper_plane_48px.png' %}" alt="send comment"></button>
            </div>
            
        </form>
        {% endif %}
    </div>
    <div class="comment-card">

        {% for com in comments %}
        <div class="comments">
            <div class="comment-container">
                <div class="user-image">
                    <img src="{% static 'images/client_management_96px.png' %}" alt="user avatar">
                </div>
                <div class="comment-text">
                    <div class="comment-status">
                        <p class="user-name">{{com.name}}</p>
                        <span class="comment-date">{{com.created_on}}</span>
                    </div>
                    <div class="comment-body">
                        {{com.body|linebreaks}}
                    </div>
                </div>
            </div>
            <button class="reply">Reply</button>
            {% for reply in com.children %}
                <p><span>{{com.name}}: </span>{{reply.name}} | {{reply.created_on}}</p>
                <li>{{reply.body}}</li>
            {% endfor %}
            <!-- <form class="forms" action="." method="post">
                {{comment_form|crispy}}
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{comment.id}}">
                <input type="submit" value="Reply">
            </form> -->
            <form class="forms replies" action="" method="post">
                {% csrf_token %}
                {{comment_form.name}}
                <div class="close">
                    <img src="{% static 'images/Close_100px.png' %}" alt="close reply form">
                </div>
                <div class="text-button">
                    
                    {{comment_form.body}}
                    <input type="hidden" name="parent" value="{{comment.pk}}">
                    <button type="submit" class="btn"><img src="{% static 'images/paper_plane_48px.png' %}"
                            alt="send comment"></button>
                </div>
            </form>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/app.js' %}"></script>
<!-- <script src="{% static 'js/hamburger.js' %}"></script> -->
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock scripts %}