<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    <title>Rig Line Services</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %">
    {% endblock title %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" /> -->
    {% endblock styles %}
</head>
{% block chat %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/639ae70edaff0e1306dcc465/1gkahd4qs';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
{% endblock chat %}
<body>

    {% block navbar %}
        <div class="navigation">
            <div class="navigation-menu">
                <div class="nav-status-container">
                    <div class="container1">
                        <div id="google_translate_element"></div>
                        
                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
                            }
                        </script>
                        
                        <script type="text/javascript"
                            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js" async="false"></script> -->
                        <script type="module" src="/src/main.js"></script>
                        <div class="nav-status-element languages">
                            <img class="sel-languages" src="{% static  'images/translation_52px.png' %}" alt="bag">
                            <!-- <p class="sel-languages">Select language</p> -->
                            {% get_current_language as CURRENT_LANGUAGE %}
                            {% get_available_languages as AVAILABLE_LANGUAGES %}
                            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                            {% for language in languages %}
                            <div class="lang-container">
                                <a href="/{{ language.code }}/" {% if language.code == CURRENT_LANGUAGE %} class="active" {% endif %}>
                                {{ language.name_local }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container2">
                        <div class="nav-status-element">
                            <img src="{% static 'images/settings_48px.png' %}" alt="bag">
                            <a href="{% url 'showcase:register' %}">Sign Up</a>
                            
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="username">
                            <a href="{% url 'logout' %}?next={{request.path}}">{{user.username}}</a>
                            <a href="{% url 'logout' %}?next={{request.path}}"><img src="{% static 'images/shutdown_52px.png' %}"
                                    alt=""></a>
                        </div>
                
                        {% else %}
                        <div class="nav-status-element">
                            <img src="{% static 'images/customer_100px.png' %}" alt="bag">
                            <a href="{% url 'login'  %}?next={{request.path}}">
                                Login
                            </a>
                        </div>
                        {% endif %}
                    </div>
                
                </div>
                <div class="nav-menu-list">
                    <div class="navigation-logo-search">
                        <a href="{% url 'showcase:index' %}">
                            <div class="logo">
                                <img src="{% static 'images/j_52px.png' %}" alt="logo">
                                <img src="{% static 'images/jira_96px.png' %}" alt="logo">
                            </div>
                        </a>
                        
                    </div>
                    <div class="nav-list">
                        <li>
                            <p>Products</p>
                            <div class="nav-dropdown">
                                {% for category in categories %}
                                <a href="{% url 'showcase:category_products' category.id %}">
                                    <div class="dropdown-name">{{category.name}}</div>
                                </a>
                                {% endfor %}
                            </div>
                        </li>
                        <li>
                            <p>Vendors</p>
                            <div class="nav-dropdown">
                                {% for vendor in vendors %}
                                <a href="{% url 'showcase:vendor_products' vendor.id %}">
                                    <div class="dropdown-name">{{vendor.name}}</div>
                                </a>
                                {% endfor %}
                            </div>
                        </li>
                    </div>
                    <div class="search">
                        <input type="search" name="search" id="search-e">
                        <div class="search-icon">
                            <img src="{% static 'images/search_100px.png' %}" alt="Search">
                        </div>
                    </div>
                    <div class="cart">
                        <div class="amount-in-cart">{{amount_in_cart}}</div>
                        <a href="{% url 'showcase:cart_products'%}"><img src="{% static 'images/shopping_cart_48px.png' %}" alt="cart"></a>
                        <p>(${{total_price}})</p>
                    </div>
                </div>
                
                <div class="hamburger-container">
                    <button class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button>
                    <div class="ham-menu">
                        <div class="ham-nav-list">
                            <li>
                                <p>Products</p>
                                <div class="nav-dropdown">
                                    {% for category in categories %}
                                    <a href="{% url 'showcase:category_products' category.id %}">
                                        <div class="dropdown-name">{{category.name}}</div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </li>
                            <li>
                                <p>Vendors</p>
                                <div class="nav-dropdown">
                                    {% for vendor in vendors %}
                                    <a href="{% url 'showcase:vendor_products' vendor.id %}">
                                        <div class="dropdown-name">{{vendor.name}}</div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </li>
                        </div>
                        <div class="ham-nav-status-container">
                            <div class="ham-container2">
                                <div class="nav-status-element">
                                    <img src="{% static 'images/settings_48px.png' %}" alt="bag">
                                    <a href="{% url 'showcase:register' %}">Sign Up</a>
                        
                                </div>
                                {% if request.user.is_authenticated %}
                                <div class="ham-nav-status-element">
                                    <a href="{% url 'logout' %}?next={{request.path}}">{{user.username}}</a>
                                    <a href="{% url 'logout' %}?next={{request.path}}"><img src="{% static 'images/shutdown_52px.png' %}"
                                            alt=""></a>
                                </div>
                        
                                {% else %}
                                <div class="ham-nav-status-element">
                                    <img src="{% static 'images/customer_100px.png' %}" alt="bag">
                                    <a href="{% url 'login'  %}?next={{request.path}}">
                                        Login
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    {% endblock navbar %}

    {% block showcase %}
        <div class="product-showcase">
            <div id="slider">
                <div class="showcase-image">
                    <img class="img1" src="{% static 'images/ksenia-kudelkina-o5_LYQ44gsM-unsplash.jpg' %}" alt="image1">
                    <div class="showcase-description">
                        <div class="show-desc show-desc1">
                            <h2>HUGE setting force, super low shock force</h2>
                            <h3>The Sure Set from Wellbore Solutions boasts no need for oil, a 10-min redress time, a super compact design</h3>
                            <a href="{% url 'showcase:products' %}"><input type="button" value="BUY NOW"></a>
                        </div>
                        
                    </div>
                </div>
                <div class="showcase-image">
                    <img class="img1" src="{% static 'images/kartikay-sharma-nEIOl0UXMDQ-unsplash.jpg' %}" alt="image2">
                    <div class="showcase-description">
                        <div class="show-desc show-desc2">
                            <h2>Surface chokes: a new category of products</h2>
                            <h3>Pressure and flow control across a wide range of applications. <br>Match the trim configuration to YOUR field
                                conditions.</h3>
                            <a href="{% url 'showcase:products' %}"><input type="button" value="BUY NOW"></a>
                        </div>
                        
                    </div>
                </div>
                <div class="showcase-image">
                    <img class="img1" src="{% static 'images/offshoredrillingworker.jpg' %}" alt="image1">
                    <div class="showcase-description">
                        <div class="show-desc show-desc3">
                            <h2>Introducing the renowned XQMS BlueSteel Fluid End</h2>
                        <h3>Up to 12% longer life than leading competitors and now available exclusively on Oilfield Marketplace!</h3>
                        <a href="{% url 'showcase:products' %}"><input type="button" value="BUY NOW"></a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <!-- <div class="slider-control">
            </div>  -->
        </div>
    {% endblock showcase %}

    {% block sidebar %}
    <aside class="main-aside">
        <div class="main-categories">
            <h4>Main Categories</h4>
            {% for category in categories %}
            <li>
                <a href="{% url 'showcase:category_products' category.id %}">{{category.name}}</a>
            </li>
            {% endfor %}
    
        </div>
        <hr>
        <div class="free-shipping-info">
            <h4>Free Shipping</h4>
            <p>
                We offer you a Free Shipping option to 25 countries
                , if your order value is over $15,000.00. For more information please check:
            </p>
            <br>
            <a href="#">Free Shipping information and Conditions</a>
        </div>
        <hr>
        <div class="pickup">
            <h4>Pickup</h4>
            <p>
                You can pickup your goods, after you placed an order and
                received a ready-for-pickup notification.
            </p>
        </div>
        <hr>
    </aside>
    {% endblock sidebar %}

    {% block content %}
        <div class="featured-products">
            <div class="product-vendor-container">
                <div class="product-vendor-card">
                    <h3 class="product-vendor-card-title">Welcome to Rig Equipment Line.</h3>
                    <p class="product-vendor-card-brief">A leading oil and gas marketplace.</p>
                    <p class="product-vendor-card-cta">Get started by signing up for an account now.</p>
                    <a href="{% url 'showcase:register' %}"><input type="button" value="Sign up now"></a>
                </div>
                <a href="{% url 'showcase:products' %}"><div class="product-vendor-card">
                    <h3 class="product-vendor-card-title">Products</h3>
                    <div class="divide"></div>
                    <p class="product-vendor-card-cta">Browse our product catalog to find out what you are looking for.</p>
                </div></a>
                <a href="{% url 'showcase:vendors' %}">
                    <div class="product-vendor-card">
                        <h3 class="product-vendor-card-title">Vendors</h3>
                        <div class="divide"></div>
                        <p class="product-vendor-card-cta">Meet our top rate vendors and brands.</p>
                    </div>
                </a>
            </div>
            
            <h1 style="text-align: center;">Featured Products</h1>
            <hr>
            <div class="products-container">
                
                {% for product in products|slice:":12" %}
                    <a href="{% url 'showcase:product_detail' product.id %}"><div class="product-container">
                        <div class="product-img-container"><img src="{{ product.image.url }}" alt="product">
                        </div>
                        <div class="save">
                            <p class="percent">15</p>% 
                            <h5>SAVE</h5>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title">{{product.model}}</h3>
                            <div class="previous-price">
                                <p>Previous price: $<strike> {{product.price}}</strike></p>
                            </div>
                            <div class="cart-price">
                                <div class="cart">
                                    <img src="{% static 'images/shopping_cart_48px.png' %}" alt="cart">
                                </div>
                                <div class="price">
                                    <span>$</span><p> {{product.discount_price}} </p>
                                </div>
                            </div>
                        </div>
                    </div></a>
                {% endfor %}
            </div>
            <div class="view-all">
                <a href="{% url 'showcase:products' %}"><button>View All</button></a>
            </div>
        </div>
    {% endblock content %}
    {% block pagination %}
    
    {% endblock %}
        
    {% block footer %}
        <footer>
            <div class="footer">
                <div class="footer1">
                    <div class="newsletter-contact">
                        <div class="newsletter">
                            <div class="footer-subheading">
                                <img class="footer-ico" src="{% static 'images/circled_envelope_100px.png' %}" alt="envelope">
                                <h2>Newsletter</h2>
                            </div>
                            <div class="footer-subheading-content">
                                <p>Here you can sign up for our newsletter. For this, please provide your e-mail address.</p>
                                <div class="search">
                                    <input type="email" name="email" id="email">
                                    <div class="search-icon">
                                        <img src="{% static 'images/paper_plane_48px.png' %}" alt="Search">
                                    </div>
                                </div>
                            </div>  
                            
                        </div>
                        <div class="contact-us">
                            <div class="footer-subheading">
                                <img class="footer-ico" src="{% static 'images/viber_100px.png' %}" alt="envelope">
                                <h2>Contact us</h2>
                            </div>
                            <div class="footer-subheading-content">
                                <p>Do you have any question? Use our contact form and  we will be right there for you.</p>
                                <a href="#">Go to the contact form</a>
                            </div>
                        </div>
                    </div>
                    <div class="customer-center">
                        <h2>Customer Center</h2>
                        <p>Language: English</p>
                        <br>
                        
                        
                        <!-- <li><a href="#">LEGO&reg; Education Support</a></li>
                        
                        <li><a href="#">FAQ</a></li>
                        
                        <li><a href="#">Shipping costs</a></li>
                        
                        <li><a href="#">Right of Revocation</a></li>
                        <br>
                        <li><a href="#">GTC</a></li>
                        
                        <li><a href="#">Privacy Policy</a></li>
                        
                        <li><a href="#">Legal Notice</a></li>
                        
                        <li><a href="#">Cookie Policy</a></li> -->
                        
                    </div>
                </div>
                <hr>
                <div class="payment-methods">
                    <div>
                        <h2>Payment methods</h2>
                        <p>You can choose from a variety of secure payment <br>
                        methods. There are no additional fees.
                        </p>
                    </div>
                    <div class="payment-vendors">
                        <div class="paypal">
                            <img src="{% static 'images/paypal_96px.png' %}" alt="paypal">
                            <p>Pay<span>Pal</span></p>
                        </div>
                        <div class="visa-card">
                            <div class="visa">VISA</div>
                            <img src="{% static 'images/mastercard_logo_96px.png' %}" alt="visa">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}

    {% block scripts %}
        <script src="{% static 'js/hamburger.js' %}"></script>
        <script src="{% static 'js/slider.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/tab.js' %}"></script>

        <!-- Start of LiveChat (www.livechatinc.com) code -->
        <script type="text/javascript">
            window.__lc = window.__lc || {};
            window.__lc.license = 14743161;
            ; (function (n, t, c) {
                function i(n) { return e._h ? e._h.apply(null, n) : e._q.push(n) };
                var e = {
                    _q: [], _h: null, _v: "2.0", on: function () { i(["on", c.call(arguments)]) }, once: function () {
                        i(["once", c.call(arguments)])
                    }, off: function () { i(["off", c.call(arguments)]) },
                    get: function () {
                        if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load.");
                        return i(["get", c.call(arguments)])
                    }, call: function () { i(["call", c.call(arguments)]) }, init: function () {
                        var n = t.createElement("script");
                        n.async = !0, n.type = "text/javascript",
                            n.src = "https://cdn.livechatinc.com/tracking.js", t.head.appendChild(n)
                    }
                };
                !n.__lc.asyncInit && e.init(), n.LiveChatWidget = n.LiveChatWidget || e
            }(window, document, [].slice))
        </script>
        <noscript>
            <a href="https://www.livechatinc.com/chat-with/14743161/" rel="nofollow">Chat with us</a>,
            powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
        </noscript>
        <!-- End of LiveChat code -->
    {% endblock scripts %}
</body>

</html>